@model lionsEventManagement.Models.EditUserViewModel

<h2>Benutzerverwaltung</h2>

<h4>Sind Sie sicher dass Sie diesen Benutzer l&ouml;schen m&ouml;chten?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"> </span>
                L&ouml;schen best&auml;tigen
            </button>
            <a href="@Url.Action("Index")" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"> </span>
                Abbrechen
            </a>
        </div>
    }
</div>
